@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f7f7f9;
}

.general {
  overflow-x: hidden;
}
.gen-nav {
  background-color: white;
  padding: 10px 35px;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.first {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 20px;
}

ul li {
  list-style: none;
}

.logo-div {
  width: 100px;
}

.logo-div img {
  width: 100%;
}

.side-links {
  font-size: 16px;
}

.contact-btn {
  background-color: #465fec;
}

.contact-btn:hover {
  background-color: #465fec;
}
.nav-links {
  color: #465fec;
}

.hosted:hover {
  background-color: #465fec;
}
/* second section */
.second {
  background: url(./Images/Header-bg.png);
  background-color: white;
  width: 100%;
  height: 98vh;
  padding: 240px 35px 55px 55px;
  border-bottom-left-radius: 70px;
}

.intro h1 {
  font-weight: 700;
  color: #172b4d;
}

.intro p {
  font-size: 20px;
}

/* connect */

.connect p {
  color: #465fec;
  font-weight: 500;
}

/* project section */
.language {
  display: flex;
  gap: 20px;
}

.lang {
  background-color: #ebebff;
  color: #465fec;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 13px;
}

#project {
  padding: 0 55px;
  margin-top: 80px;
}

.project-images {
  width: 35%;
  height: 30%;
}
.project-images img {
  width: 100%;
}

.details1 h2 {
  font-weight: 600;
}
.container-fluid {
  padding: 0 !important;
}

/* about section */
.about {
  padding: 0 55px;
  margin-top: 80px;
}

p {
  margin: 5px 0;
}

/* language */

.lang-img {
  width: 100px;
  display: flex;
  justify-content: space-between;
}
.lang-img img {
  width: 100%;
}

.me {
  width: 50%;
}

.contact {
  background: url(./Images/Header-bg.png);
  background-color: #465fec;
  height: 90vh;
  margin-top: 80px;
  border-top-left-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact h2 {
  font-weight: 600;
}
.touch {
  background-color: white;
  color: #465fec;
}

.touch:hover {
  background-color: #465feca2;
  color: white;
}
.contact p {
  width: 50%;
}

input {
  padding: 10px;
  border-radius: 7px;
  border: none;
  outline: none;
}

textarea {
  border-radius: 7px;
  padding: 10px;
}

form {
  width: 50%;
}
@media (max-width: 1024px) {
  .second {
    padding: 220px 35px 35px 35px;
  }

  .intro p {
    font-size: 17px;
  }

  #project {
    padding: 0 35px;
  }

  .about {
    padding: 0 35px;
    gap: 40px;
  }
  .me {
    width: 100%;
  }
  .contact {
    height: 100vh;
  }
  /* .contact p {
    width: 80%;
  } */
  form {
    width: 80%;
  }
}

@media (max-width: 767px) {
  #project {
    padding: 0 35px;
  }
  .intro p {
    font-size: 13px;
  }

  .second {
    padding: 200px 35px 0px 35px;
    height: 70vh;
  }

  .project1 {
    gap: 50px;
  }

  .about {
    padding: 0 35px;
  }

  .project-images {
    width: 100%;
  }

  .contact {
    padding: 0 35px;
    height: 100vh;
  }

  .contact p {
    width: 100%;
  }
  form {
    width: 100%;
  }
}
